[2017-11-17 12:54] cmeeren opened #1 "Production ready?"
Just came across this [on SO](https://stackoverflow.com/a/47194200/2978652), and this library seems to have much of what I want from an F# JSON serialization library. I notice, however, that it's just gotten started, so I'm very reluctant to use this for any kind of serious work.

How production ready is this? I'm not just talking about how feature-complete or bug-free it is, but also the stabilit

[2017-11-24 00:49] vsapronov commented on #1
Hi Christer. I can promise that API and default behaviors won't be changed for some time. It gives you confidence that if you use simple features then you are safe.
From the other side I would recommend you to pin the version of FSharp.Json that you are using. I made an effort to make sure that it does not depend on anything, so you can live on version 0.1 without any issues for a longer time.

[2017-11-24 06:36] cmeeren opened #2 "Represent single-case unions as their wrapped type"
Single-case DUs are frequently used for added type safety in F#. Since this is such a common pattern, any F# serialization library worth its salt should be able to represent single-case unions as their wrapped type. IMHO this should be the default behavior, but it should be configurable both globally and for specific types.

Pardon if your library already does this - I read through the documentati

[2017-11-25 00:34] vsapronov commented on #2
I agree - single case unions should be represented as wrapped type. Somehow I haven't thought about such scenario and the codebase that I'm working with mostly avoid this pattern.
I can support such behaviour easily, stay tuned...

[2017-11-25 06:41] vsapronov commented on #2
Implemented and released in version 0.2.
Here's documentation: https://vsapronov.github.io/FSharp.Json/unions.html#Single-case-union

[2017-11-25 06:41] #2 closed

[2017-11-25 06:43] #1 closed

[2017-11-25 09:37] cmeeren commented on #2
That was quick, thanks! 😁

[2017-11-30 14:10] cmeeren opened #5 "Unable to install"
Tried to install but get the following error:

`Detected package version outside of dependency constraint: FSharp.Json 0.3.0 requires FSharp.Core (>= 4.0.0.1 && < 4.0.1) but version FSharp.Core 4.2.3 was resolved.`

Please support more recent F# versions than 4.0.1. :)

[2017-12-01 04:09] vsapronov commented on #5
This is fixed in version 0.3.1 - all versions of FSharp.Core higher then 4.0.0.1 are allowed.
This is the commit: https://github.com/vsapronov/FSharp.Json/commit/bc9a3f03f0591897d2357ab670c8c1d50c614d36

[2017-12-01 04:09] #5 closed

[2017-12-01 07:57] cmeeren commented on #1
One more question. If you ever change the default serialization, could you (at least for a time) include an option to use the old serialization behavior?

I ask because I might be using this for a web API and the mobile app that talks to this API, and since app updates are far from instantaneous, I must be able to upgrade FSharp.Json in the API while still supporting existing versions of the app (

[2017-12-02 04:40] vsapronov commented on #1
Hi Christer,

Default behaviour will not change until version 2.0 for sure. This does not mean that it will necessary change in version 2.0. I'm pretty confident that both API and default behavior is good enough to stay not changed.
If change will be required then it will be done only in new major version and I will try to keep previous behavior available by configuration option as long as it's po

[2017-12-02 11:20] cmeeren commented on #1
Absolutely, and I will. :) But asynchronous updates in the app and API means that if the serialization changes without possibility for keeping the default behavior through configuration, then that effectively stops me from ever upgrading FSharp.Json to that version (I'm versioning my API, e.g. `https://myApi.com/v1/...`, but all versions are running in the same project/application, so all API vers

[2018-01-29 03:17] aggieben opened #6 "FSharp.Json.JsonDeserializationError: Expected type float is incompatible with jvalue: "13672.74""
I'm trying to deserialize into a record somewhat like this:

[code]

where `FloatTransform` is defined as follows:
[code]

However, when I try to deserialize some json like this:
[code]
by calling `deserialize` like this: `Json.deserialize<ApiResponse> jsonString`, it throws this exception:

[code]

I put breakpoints in my transform implementation and verified that way that the methods are being c

[2018-01-29 04:22] vsapronov commented on #6
Hi Bill,

What version of FSharp.Json are you using?

Here are some things I noticed.

First this line
[code]
Should be:
[code]
The targetType is a function...

Second thing: you json says "13405.34" and you error message says "13672.74". It tells me that the example code is not exactly the same as code that is failing for you.
I have quickly put together unit test based on your code and it just w

[2018-01-29 13:31] aggieben commented on #6
I'm using FSharp.Json version 0.3.1.  The issue above with `this.targetType` above is just a typo (which I've edited now).  As you have guessed, this isn't the full code, it's just the relevant part.  I'll have a look at your gist and see if there's anything there that's different from what I'm doing.

[2018-01-29 14:50] aggieben commented on #6
Ah!  Naturally, this was just a stupid mistake.  The real json I was working with has another float right next to the one I showed you, but it's actually a json number, not a string 🤦‍♂️

[code]

I had the transform set up the same way on both, and I just missed that they aren't the same types in the actual json (which is stupid, but upstream).

Thanks for looking at this.

[2018-01-29 14:50] #6 closed

[2018-01-29 15:09] vladimir-sapronov-zocdoc commented on #6
Usually FSharp.Json gives a json path to the field that is causing error. In this case it would be "Another Name" - this should give a hint in what field you have an issue...
Have you seen this json path in your Exception info? If not, then it could be potential for improvement. My goal was give json path to user all the time deserialization error happens...

[2018-01-29 15:10] vsapronov commented on #6
Usually FSharp.Json gives a json path to the field that is causing error. In this case it would be "Another Name" - this should give a hint in what field you have an issue...
Have you seen this json path in your Exception info? If not, then it could be potential for improvement. My goal was give json path to user all the time deserialization error happens...

[2018-02-05 00:12] bohdanszymanik opened #7 ".net core build?"
Would be great rather than have .net core come up with the warning that FSharp.Json was restored using the .NETFramework ...

[2018-02-05 00:16] vsapronov commented on #7
Hi Bohdan, I need a bit more context. Could you please describe what exactly does not work for you as expected?

[2018-02-05 00:28] bohdanszymanik commented on #7
Oh - it works great! It's just that I tend to run under dotnetcore with the .net tooling and you get the warning that while the project framework is .NETCoreApp, Version=v2.0, FSharp.Json runs under the .NETFramework; the actual warning text follows:

warning NU1701: Package 'FSharp.Json 0.3.1' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,V

[2018-03-19 13:57] danyx23 opened #8 "Support System.Uri as a native type"
This is probably a bit of a slippery slope because it open the question of how far do you want to go with this, but I think Uris are common enough in serialization types that I think it would be nice if they were supported directly by FSharp.Json (like Guid is atm e.g.). What do you think about it? Would you be willing to accept a PR?

[2018-03-19 14:41] vsapronov commented on #8
Hi Daniel!
Currently you can support Uris with Type Transforms. I assume that you want to represent Uri as a string type in JSON. Then you need to implement some UriTransform for transformation: Uri <-> String. Then you will annotate Uri member with `[<JsonField(Transform=typeof<UriTransform>)>]` and it should just work. See example here: https://vsapronov.github.io/FSharp.Json/transform.html. I w

[2018-03-19 20:04] danyx23 commented on #8
Hey Vladimir, thanks for your quick response! Very cool, I'll send you a PR to add a standard transform as you suggest. I really like your plan to have a way to customize these other serializations nicely via a config, looking forward to that. Thanks for the very nice library btw!

[2018-03-20 14:31] vsapronov commented on #8
Pull request was released in 0.3.2

[2018-03-20 14:31] #8 closed

[2018-03-30 04:13] nobleach opened #10 "Unhandled Exception when deserializing a list of objects"
I have a bit of JSON that looks like this:
[code]
I'm attempting to deserialize it like this:
[code]

I'm getting `Unhandled Exception: FSharp.Json.JsonDeserializationError: JSON Path: [100].userId. Non option field is missing`.

I'm not sure what this means. I'd guess that the JSON is somehow missing that field. What is the correct step to take if I might expect that to be the case (I don't curre

[2018-03-30 04:25] vsapronov commented on #10
If looks like in one of the objects (the one with #100)  in your list there is no field 'userId'. If field could be missing then it should be of option type, userId: int option in your case.

[2018-03-30 12:33] nobleach commented on #10
Yes, that solve this issue perfectly. Thank you so much!

[2018-03-30 12:33] #10 closed

[2018-03-30 13:30] vsapronov commented on #10
This page mentions missing fields https://vsapronov.github.io/FSharp.Json/null_safety.html
And here are some details about controlling null VS missing fields behaviour.

[2018-03-30 14:17] NullVoxPopuli commented on #7
I'm also getting this warning!
On this project: https://github.com/NullVoxPopuli/CryptoExchangeClient

[2018-03-30 14:50] nobleach commented on #10
Great! Thanks again.

[2018-03-30 18:09] vsapronov commented on #7
Thank you for feedback. I will try to compile for dotnetcore and include into nuget pkg soon.

[2018-04-09 20:04] NullVoxPopuli commented on #7
@vsapronov hey, how's it going? do you need help with anything?

[2018-04-10 03:52] vsapronov commented on #7
@NullVoxPopuli I don't think I need help with anything particular.
Overall F# related toolset seems to be not ready for dotnet (new structure) projects.
I figured out that easiest way to port library to dotnet core is to have multi-target project in new dotnet core structure. So I already got it compiling for both netcore and netframework. But it looks like Paket and Fake does not work with it nic

[2018-04-12 04:05] vsapronov commented on #7
@NullVoxPopuli @bohdanszymanik Could you please try version 0.3.3 and let me know here if there are some issues with it on .NET Core. Just have pushed it: https://www.nuget.org/packages/FSharp.Json/0.3.3

[2018-05-24 18:56] DieselMeister commented on #7
Hi there. Maybe it is possible to release a netstand2.0 version. Tell me if I am wrong, but this would cover all including .net core 2.0.

[2018-05-24 21:04] vladimir-sapronov-zocdoc commented on #7
@DieselMeister FSharp.Json 0.3.3 is built for both .Net Core 2.0 and .Net Framework 4.5.2.
Do you have any practical problem with it as 0.3.3? What is the problem?

The thing is that these multi-target projects are not fun. They are poorly supported in MS products like Visual Studio and F# tools does not make it easier. Paket and Fake are not really supportive. I spent like 3-4 evenings to make it

[2018-05-24 21:06] vsapronov commented on #7
@DieselMeister FSharp.Json 0.3.3 is built for both .Net Core 2.0 and .Net Framework 4.5.2.
Do you have any practical problem with it as 0.3.3? What is the problem?

The thing is that these multi-target projects are not fun. They are poorly supported in MS products like Visual Studio and F# tools do not make it easier. Paket and Fake are not really supportive. I spent like 3-4 evenings to make it b

[2018-05-24 21:37] DieselMeister commented on #7
Hi. I can not use it in .net standard project files. The benefit to use netstandard 2.0 is, that this works also for netcore20.

I tested it and the packaging works fine:

- modify FSharp.Json.fsproj file:
    `<TargetFrameworks>net452;netstandard2.0</TargetFrameworks>`
- run in the solution folder: "dotnet build"
- run in the solution folder: "dotnet pack"

Thats it. Do not use Paket for packagin

[2018-07-17 10:39] NicoVIII opened #11 "Is it possible to parse json with mixed lists?"
At first: Thanks for this library!
I'm working with it to parse JSON responses from an API and it really works like a charm. If I correctly create types for the expected response, I can work type-safe with that data.
But now the API sends inconsistent data, I get a list where complex objects and strings are mixed.

It looks like that:
`{
  "downloads": [
    [
        "English",
        {..}
    ]

[2018-07-19 16:05] vsapronov commented on #11
The one simplest option would be to try to deserialize as `object list` type. Unfortunately not really helpful as you will need to do types casting in F# code manually.
The other more helpful option would be: serialize/deserialize record type into list with members mapped positionally. Meaning that #0 element of the list always goes to particular member of the record type, #1 element goes to anoth

[2018-07-21 14:14] vsapronov commented on #11
@NicoVIII ^

[2018-07-23 05:50] NicoVIII commented on #11
Thank you for your fast response and sorry for my late one :grin:

I guess, the list will always have the same structure so your second approach should be usable. I'm a bit confused though, is it a suggestion for me to implement in my program or a suggestion what could be added to the library itself?

The day I asked the question I played around and found out that I can use the "untyped" setting a

[2018-09-27 02:10] albertwoo opened #12 "The namespace 'Json' is not defined. When use it in Fake script"
When I use this package in Fake script, it works fine when I sent to F# interactive, but failed when I run fake run script.fsx and the error is like "The namespace 'Json' is not defined."

[2018-09-27 03:52] vsapronov commented on #12
I guess that you have not included the assembly with #r... in your fsx script. Could you please past it here?

[2018-09-30 00:33] albertwoo commented on #12
My script reference is like this:
[code]
The paket.dependencies file is look like:
[code]

fake will handle intellisense.fsx then #load intellisense_lazy.fsx, in there the #r will load the FSharp.json automatically.

Problem is if I do the same way with Newtonsoft.Json, it works but failed with FSharp.Json.

[2018-09-30 02:32] vsapronov commented on #12
I see that you reference Newtonsoft.Json in your paket.dependencies. FSharp.Json is NOT Newtonsoft.Json. FSharp.Json is a separate package.

[2018-09-30 10:33] albertwoo commented on #12
Sorry for the misunderstanding, what I mean is that if I replace Fsharp.Json with Newtonsoft.Json everything is working fine. But If I use Fsharp.Json then the error happens.

[2018-09-30 15:44] vsapronov commented on #12
OK, I see. I need to investigate more. I suspect the `netstandard` might be the reason for your problems. I haven't build FSharp.Json in netstandard yet. But I think I should as this issue (still open) suggests: https://github.com/vsapronov/FSharp.Json/issues/7

[2018-10-09 10:03] atadi96 commented on #7
Hi! What's the status on this? You really just need to add `netstandard2.0` to `TargetFrameworks` and publish the new version as @DieselMeister described it, and it would make a huge difference in consumability. I tried it in a fork and the project builds and all tests pass.

[2018-10-11 20:05] vsapronov commented on #7
@atadi96 @DieselMeister @NullVoxPopuli Could you please take a look at release 0.3.4: https://www.nuget.org/packages/FSharp.Json/0.3.4
Now it's built only for Standard.

[2018-10-11 20:06] vsapronov commented on #12
Please try to use release 0.3.4. It's built for .Net Standard, now it should work.

[2018-10-12 07:51] albertwoo commented on #12
Thanks, it works great!

[2018-10-12 07:51] #12 closed

[2018-10-20 05:17] #7 closed

[2019-01-06 15:24] albertwoo opened #13 "Can we make it support fable?"

[2019-01-07 05:46] #13 closed

[2019-03-15 10:59] Szer opened #15 "Release version is not optimized"
I think you've packed nuget package with "debug" config

[2019-03-29 03:49] vsapronov commented on #15
Could you please try 0.3.5 - it is Release.

[2019-03-31 16:22] #15 closed

[2019-04-17 00:51] oauo opened #16 "uints not supported"
[code]

Do I need to say more?

[2019-04-17 04:53] vsapronov commented on #16
I will add support for it soon. Stay tuned.

On Tue, Apr 16, 2019, 20:52 Zoë Shackleton <notifications@github.com> wrote:

[2019-04-17 14:34] lkmfwe opened #18 "Support multidimensional arrays"
For example,
[code]

[2019-04-19 22:21] oauo opened #19 "Error thrown when given an int type where FSharp.Json expects a string"
If a type is set to an int and the given JSON gives a string an error is thrown rather than just converting the string to an int. This is particuarly useful when you have keys which are numbers but have to be represented as strings.

[2019-04-19 22:26] vsapronov commented on #19
Hi Zoe!
Could you please provide an example for this one? I need both F# record
type and JSON sample.
Thank you.

On Fri, Apr 19, 2019, 18:21 Zoë Shackleton <notifications@github.com> wrote:

[2019-04-19 22:33] oauo commented on #19
[code]

error
[code]

[2019-04-27 23:03] vsapronov commented on #16
https://github.com/vsapronov/FSharp.Json/pull/21

[2019-04-27 23:04] vsapronov commented on #16
Please try version 0.3.7 - support for various numeric types was added

[2019-04-27 23:17] vsapronov commented on #19
This behavior is intentional. FSharp.Json makes only obvious [type conversions](https://github.com/vsapronov/FSharp.Json#supported-types). For example: (F#) `byte` -> (JSON) `number` is obvious conversion. Other example would be: (F#) `bool` -> (JSON) `bool`.

You want FSharp.Json to make obvious types conversion: (JSON) string -> (F#) int. Such conversion should be configured explicitly. You can

[2019-04-28 05:13] vsapronov commented on #18
I will add support for these shortly. Stay tuned.

[2019-04-29 02:50] vsapronov commented on #18
@lkmfwe what is your though regarding multidimensional arrays representation in JSON? How the should be represented in JSON? Currently I consider 2 options:

1. Flat array of items
2. Array of array of ... levels of nesting = number of dimensions

[2019-04-29 07:26] lkmfwe commented on #18
I think 2nd option is more suitable, because JSON in this has more information.
Also, Newtonsoft.JSON serializes multidimensional arrays exactly like that:
[code]

[2019-04-29 07:35] lkmfwe opened #22 "JSON serializer from FSharp.Data emits invalid JSON for -Infinity, Infinity and NaN"
Please see this issue: https://github.com/fsharp/FSharp.Data/issues/1259
Maybe consider changing JSON backend to something more performant and stable, for example Utf8Json?

[2019-04-30 17:44] #16 closed

[2019-05-15 14:47] jgardella opened #25 "Deserialization works in program but fails in interactive"
I've found a strange issue where deserialization of a type works fine in my program, but fails when I run the same serialization in interactive. In interactive I get the following exception:

`Couldn't parse config, error=JSON Path: . Failed to serialize, must be one of following types: record, map, array, list, tuple, union. Type is: Configuration.`

I haven't been able to create a minimal exampl

[2019-05-15 15:08] vsapronov commented on #25
I can take a look later this week. Thank you.

On Wed, May 15, 2019, 4:47 PM Jason Gardella <notifications@github.com>
wrote:

[2019-05-17 15:30] vilinski opened #26 "Is JSON in JSON possible"
Hi is it possible with this serializer to deserialize some json subdocument to a string as is? Just like JObject in Json.NET? I need it to encode a http request content. Otherwise it should be escaped, what by manually filled files is not comfortable

[2019-05-17 15:34] vsapronov commented on #26
Hi, could you please check `AsJson` option of `JsonField`, tests could be found here: https://github.com/vsapronov/FSharp.Json/blob/master/FSharp.Json.Tests/AsJson.fs#L8 it should give an idea. It looks like what you described. Otherwise, please provide code example so that I can see what exactly you want to get.

[2019-05-17 15:58] vsapronov commented on #26
You can also take a look at untyped data feature: https://github.com/vsapronov/FSharp.Json#untyped-data. Please let me know if that still does not work for you.

[2019-05-19 09:53] vilinski commented on #26
Thanks! `AsJson` seems to be what I need.

I need to deserialize have a [requests.json](https://github.com/vilinski/NBomber.Http/blob/requests.json/examples/NBomber.Http.FSharp/requests.json) and need to deserialize [this](https://github.com/vilinski/NBomber.Http/blob/requests.json/src/NBomber.Http/HttpRequest.fs).

The last thing which might be nice to have is ignoring empty collections. My under

[2019-06-07 13:06] drhumlen opened #27 "Serialize unions without fields as string instead of object with empty array?"
type LogLevel = Info | Warn | Error
type LogEntry = {Level: LogLevel; Message: string}

shouldn't this be serialized as

{message: "My Message", level: "info"}

instead of

{message: "My Message", level: {"Info": []}} ?

SharpLu.Json does this, but you've went the other way? Is that a conscious decision, or should I make a PR to change it?

Other than that, this library is very promising :)

Sharp

[2019-06-09 22:25] vsapronov commented on #27
Hmmm, I think it's a mistake. I will check more and come back with some solution.

[2019-06-12 15:18] jgardella commented on #25
Hi @vsapronov, any luck with this?

[2019-06-18 04:25] vsapronov commented on #25
@jgardella I was able to reproduce the issue. I can't get yet why it happens. There is one little detail: it happens even without debug mode in FSI. I keep investigating this.

[2019-06-18 14:51] vsapronov commented on #25
@jgardella The issue basically boils down to the fact that your `Configuration` type is not recognized as a record type from `FSharp.Json.Error.fsx` script. If I put this line into your script: `FSharpType.IsRecord typeof<Configuration>` I would expect it to return `true` however it returns `false`.

These are questions I haven't answered yet:
1. Why reflection works so strangely (wrongly) from FS

[2019-06-18 15:26] jgardella commented on #25
I'm actually not really concerned with this not working in FSI (although it is strange); that's just how I was able to reproduce the issue. The actual issue which is affecting me is that I'm getting this error when I try to use the `parseConfig` function from another project, referencing `FSharpLint.Core`.

Maybe the issue is that the `Configuration` type [has a member](https://github.com/jgardell

[2019-06-18 15:54] vsapronov commented on #25
Well, please try this from you other project referencing `FSharpLint.Core`: `FSharpType.IsRecord typeof<Configuration>`. What it returns to you? If reflection can't see that `Configuration` type is a record then FSharp.Json neither will work.

I don't think it's related to a member. In my local testing I removed that member (was concerned about it too).

My investigation shows also following:
This

[2019-06-18 17:13] vsapronov commented on #25
@jgardella Now I'm pretty sure it's related to FSharp.Core versions. Here's how I diagnosed this. This is the code that I have put into FSharp.Json.Error.fsx:
[code]

The `Configuration2` type is the same as `Configuration` record type but declared in the fsx script (same assembly). The custom attribute with index `0` is `CompilationMappingAttribute`. It is set in both `Configuration` and `Configu

[2019-06-18 21:20] vsapronov commented on #26
Hi, I reiterated all open issues here. Do you still have any problems?

After you provided samples I would say you do not need any special features to parse your JSON. The `AsJson` feature is needed when you want some JSON to be represented as a string in F# code so that you do not need to care about structure in that JSON. It's often needed for some nested envelope JSONs.

Your case is different

[2019-06-18 21:22] vsapronov commented on #26
Also you are trying to create types from `System.Net.Http` like `HttpContent`. That is class from .Net standard library. FSharp.Json does not work with classes. So you will need to create record types if you want to use FSharp.Json to parse your JSON.

[2019-06-18 21:24] vsapronov commented on #25
If you need help to understand more why you have got this issue I can stop by some day at Hoboken. Or just setup FSharp.Json open hours for Thor Jet.com team :)

[2019-06-18 21:28] #19 closed

[2019-06-18 23:14] vilinski commented on #26
Thank you for your explanations. As I already mentioned `AsString` attribute was exactly what I actually needed. The `body` was as such just because I had to escape it, which was not my intent. I do not even know or care about content, other than it should be a valid json.

Still guessing whether is it possible to avoid `option` everywhere. For example on lists. Could be more interesting to deseri

[2019-06-19 01:23] vsapronov commented on #26
There's a `DefaultValue` feature in FSharp.Json as well: https://github.com/vsapronov/FSharp.Json/blob/master/FSharp.Json.Tests/Default.fs#L8

Though, the problem is that default value is set through attribute. And attribute's fields can be set only to constant expression. Empty list is not constant expression. By the way the same issue you would have with Newtonsoft: empty list just can't be set

[2019-06-19 14:19] #26 closed

[2019-06-19 15:51] jgardella commented on #25
Thanks for looking into this! I tried the binding redirects as you suggested, but the `fsx` file I created to show the issue is still failing ([here](https://github.com/jgardella/FSharpLint/commit/413018300bf3b9f334e911a6123506951c129799)).

[2019-06-19 16:07] vsapronov commented on #25
There's no such thing as binding redirects for fsx files. The fsx files are compiled into separate assembly which is then executed.
You have done: specified binding redirect for every FSharpLint project (Console, Core and all tests). This does not affect the assembly which is created from fsx file when you run it.
Again: from my knowledge there are no assembly bindings for FSI and fsx files. So to

[2019-06-19 16:43] jgardella commented on #25
Thanks for the info, I wasn't aware of how redirects would interact with fsx files. I'll try to make the change in the affected project and do some additional debugging there.

[2019-06-25 14:32] jgardella commented on #25
Small status update:

First, I think my attempt to reproduce this using `.fsx` was a bit unhelpful. The actual issue is happening in [this project](https://github.com/jgardella/FSharpLint.VisualStudio), which is a Visual Studio extension. When I try to run the extension in debug mode in a test VS instance, I get that error when I try to load the config on [this line](https://github.com/jgardella/F

[2019-07-08 07:23] drhumlen commented on #27
It depends on who your consumer is. If it's only for serializing F# to F#, then it's fine as it is. But I would be very surprised to see this type definition real typescript code:

type LogEntry = {
  message: string;
  level: {Info: []} | {Warn: []} | {Error: []};
}

and then

if ('Info' in logEntry.level) {
   return <InfoIcon />
} else if (....

you get the picture. It's very unnatural for an A

[2019-07-08 14:42] vsapronov commented on #27
I meant more my mistake that I never considered "enum" style use case for DU.
I will fix this but probably in the next major release as it breaks backward compatibility.

[2019-08-07 09:07] katatunix opened #28 "Feature request: Prettifying JSON string"
Hi,

It would be great if this library could provide a function/API to prettify a JSON string.

Thanks in advanced.

[2019-09-10 14:33] dpraimeyuu commented on #27
hi @vsapronov ! Have you had chance to work on that issue? Is there anything I could help with? :-) I also ran into similar issue mentioned in the first comment.

[2019-09-25 03:49] nzav commented on #25
Any news on this? Having the same issue with F# Azure Functions (runtime 2.0)

[2019-10-07 16:07] pkese commented on #27
I'm having a similar issue with a list of Enums

[code]
and data
[code]

[2019-10-07 17:03] vsapronov commented on #27
Sorry, I was distracted by something. Will do my best to make a release with the fix this week.

[2019-11-01 15:28] sajagi opened #30 "JSON5 Support"
Hi,

Thank you very much for your library!

Do you plan on enhancing the library with [JSON5](https://json5.org/) syntax? Would you be open for JSON5 features pull requests?

Thanks!

[2019-11-18 09:49] dpraimeyuu commented on #27
Hi @vsapronov ! Have you had chance to find a solution? 😄

[2019-11-19 22:10] vsapronov commented on #27
Please try version 0.4.0 and let me know if it works for you.

[2019-11-19 22:17] vsapronov commented on #27
Here's documentation: https://github.com/vsapronov/FSharp.Json/blob/master/README.md#union-case-without-fields

[2019-11-21 23:24] #27 closed

[2020-01-02 23:45] AntoineGagne opened #32 "Custom enum/union parsing/serialization"
Hi, I want to serialize a type such as:

[code]

to have the following JSON:

[code]

I tried using transforms for this, but they don't seem to get called for enum/union values. Is there any way to do it?

[2020-01-18 21:01] vsapronov commented on #32
I see the problem - I will take a look at this.

[2020-02-18 08:16] aleksandrkolesnikov opened #33 "Can not serialize/deserialize type with "internal" or "private" modifier"
Hello. When I try to serialize/deserialize Person, I have an exception

But if I remove internal modifier for Person, the code works fine

[code]

[2020-02-20 11:18] vincenzoml commented on #25
Hi all, I had this issue today, and it was cause by the fact that I had made "private" the type I was trying to parse from json. So maybe the exception is caused by an accessibility problem?

[2020-03-21 10:01] knocte commented on #32
ping?

[2020-03-24 04:29] sanchez commented on #33
I believe from a dotnet perspective, it's not possible to view type information of a type that is not made public. So it's not possible to view the properties on the object

[2020-03-24 04:33] sanchez opened #34 "Minify"
I was wondering if there is support for being able to compress/minify the json output from a serializer? (removing the newlines and spacing)

Thanks,
Daniel

[2020-03-30 16:19] Yaroshvitaliy opened #35 "Is it possible to apply transforms with no attributes?"
I have written TimeSpanTransform and for some reason cannot use it as an attribute for properties (e.g. I have tuples, nested json documents etc.). Is it possible to add transforms for all the types with no attributes, in configuraion?

[2020-04-29 13:17] NicoVIII commented on #11
Hi!
I'm very sorry that I didn't answer and am quite sure, that an answer now will not help you since over a year past...
But for the record I want to write an answer anyway!

I personally used Transforms to read out my information in a helpful way for me. You can have a look at that here:
https://github.com/NicoVIII/GogApi.DotNet/commit/7a89344ca8da7164d7f4f0190031fd9887957c99

I'm not very exper

[2020-05-11 07:38] sebastian commented on #11
Thank you @NicoVIII! I really appreciate your detailed answer and the links! A year or not, I still learnt lots reading this!

[2020-06-01 08:34] NicoVIII commented on #25
I could reproduce what @vincenzoml said. I had working code and then (to not expose an only internally used type) I made it private. Then the code didn't work anymore with the error like mentioned above.
After removing "private" it works again.

[2020-06-02 00:43] vsapronov commented on #25
@NicoVIII and @vincenzoml What do you think could be done from library perspective? May be better exception message pointing towards real problem (`private` access modifier)?
Also @nzav would you be able to check if `private` modifier is the real reason of your problem?

[2020-06-02 00:45] vsapronov commented on #34
Could you please check https://github.com/vsapronov/FSharp.Json#unformatted-json - is that what you want?

[2020-06-02 00:48] vsapronov commented on #33
@aleksandrkolesnikov What @sanchez wrote is true. Do you have some suggestion on how to retrieve type information for `internal` or `private` types?

[2020-06-02 05:41] NicoVIII commented on #25
If there is no way (for now?) to fix this issue, I guess a better exception message which points to the real problem would be nice.
I was confused, when the thrown exception told me, that my record type is not a record type 😄

[2020-06-08 13:42] mrakgr opened #38 "Round tripping an union type with a single string field throws an exception"
[code]

This throwing an exception surprised me. I guess I'll try adding a second field.

[2020-08-15 02:18] codingedgar opened #39 "Integration with Giraffe"
What's the proper way to integrate with Giraffe? (or implement the `IJsonSerializer`)

https://github.com/giraffe-fsharp/Giraffe/blob/master/DOCUMENTATION.md#serialization

[2020-08-15 05:53] vsapronov commented on #39
Hi @codingedgar . This would be a great idea. I quickly took a look at `IJsonSerializer` I think it should be fairly easy to implement it with API provided by FSharp.Json.
This https://github.com/giraffe-fsharp/Giraffe/blob/8a4300e6e8fc6fac2119da044073ba8e2bf22940/src/Giraffe/Serialization.fs#L73-L115 looks pretty trivial.
I'm not sure if I will be providing library with such implementation myself

[2020-08-15 16:12] danieljsummers commented on #39
I just came here to ask the same thing. I just finished writing it (though I don't have tests for it yet); would this be something you'd be interested in for this project, or should I package it up myself?

BTW, here's my implementation.

[code]

[2020-08-15 16:16] danieljsummers commented on #39
Just looked at the Giraffe implementation; it looks a bit cleaner than mine. (I'm not sure that I've thrown > 1,024 bytes at it yet.)

[2020-08-16 04:31] vsapronov commented on #39
@danieljsummers I can package it and publish it as `FSharp.Json.Giraffe` (I have booked the package name already). I will check code and put it into `FSharp.Json.Giraffe` soon.

[2020-08-22 14:02] voroninp opened #40 "Is there any fundamental reason why standard .NET collections are not among supported types?"
I tried to serilize result returned by C# code - that is  `List<T>` - and got an exception that List is not supported. Just curioius why? =)

[2020-08-24 18:55] megafinz opened #41 "Deserialize union in CaseKeyAsFieldValue mode from JSON with more than 2 fields"
Is there any particular reason for this check in `deserializeUnion`?
[code]

I have a JSON with more than two fields but I care just for the key field (union case discriminator) and the value field.
[code]

[2020-08-24 19:01] vsapronov commented on #41
Is `data` in your example depends on `discriminator`? You refer to some "value field" that is not in your example (I'm assuming you meant `data` field).

[2020-08-24 19:03] megafinz commented on #41
Yes, sorry, `data` is the value field (`CaseValueField =  "data"`).

[2020-08-24 19:37] vsapronov commented on #41
Hmmm, actually from the code it seems that we can safely lift this limitation for number of fields in the object.

[2020-08-24 19:47] vsapronov commented on #40
Hi, some types I could support but keep in mind that competing with Newtonsoft was never a goal of this library. One of the complexities would be provide/not to provide null-safely depending on where type is coming from.

Could you please be more specific about `List` that you refer to. What is the full name of the class?
From quick look at this it seems that `List` should be supported: https://gi

[2020-08-24 19:58] voroninp commented on #40
Sorry, F# calls it `ResizeArray` that is [`System.Collections.Generic.List<T>`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1?view=netcore-3.1)

[2020-08-24 20:51] vsapronov commented on #41
Thank you I will let you know here in what release the change is available

[2020-08-24 21:01] megafinz commented on #41
Thanks!

[2020-10-20 04:33] codingedgar opened #43 "Serialize Map<string, string option> raises "Object reference not set to an instance of an object.""
Hello! Currently, I'm trying to serialize this scenario but it raises an error:

[code]

When I step with the debugger I see:
![image](https://user-images.githubusercontent.com/10213241/96540446-2ae3a380-1274-11eb-8a91-36e34ff2480d.png)
I guess F# interprets a value of type `option` as `null` in maps and it throws?

[2020-11-22 08:41] smoothdeveloper opened #44 "Support for IReadOnlyDictionary<K,V>?"
I wonder if it could be supported by the libray, it seems to fail with what I hoped to serialize:

[code]

[code]

[2020-11-26 13:00] BastiaanZuurendonk-InsectoCycle commented on #33
This can be done by using the correct BindingFlags. See [this commit](https://github.com/BastiaanZuurendonk-InsectoCycle/FSharp.Json/commit/8c4bd2b520885084840f152d9ac9860a6b562232) for an example. I'd be happy to help get this implemented.

[2020-11-26 16:56] bartelink commented on #33
While this should not be the primary consideration, private reflection is a lot less efficient. That's one reason why Newtonsoft has the same 'weakness'. (Pretty sure STJ does too). If this was a perf-oriented impl, one might at a minimum expect this to be an opt-in feature at a minimum...

[2020-11-26 18:59] BastiaanZuurendonk-InsectoCycle commented on #33
@bartelink  I wasn't aware of the performance implications, but even if the performance would be equal I think this should not be the default behaviour indeed. An overload that allows this would be quite welcome though.

[2020-11-26 19:35] bartelink commented on #33
I get that; I've been bitten by it too, and it is can be very frustrating, but the fact that this would place this lib on its own in terms of opting people into the cost of private reflection.

Flipping a default like this can be considered a breaking change, depending on how you look at it.

(Its also possible that there's been perf optimization work done to special case the loading such that you

[2020-11-27 08:25] BastiaanZuurendonk-InsectoCycle commented on #33
I am mostly thinking along the lines of adding this as a configuration option which can be used with the `serializeEx` and `deserializeEx` methods. This allows you to use it only in those circumstances where you actually need it and it makes it a very deliberate choice. For all other cases you can keep the more sensible default.

[2021-02-05 07:42] naughtyGitCat opened #45 "Support for serialize non ascii words"
Now chinese kanji words serialized to :

[code]

[2021-02-05 09:00] naughtyGitCat commented on #45
not caused by FSharp.Json.

the `FSharp.Data` `HTTP Utilities` give wrong non-ascii outputs

[2021-02-05 09:00] #45 closed

[2021-02-09 14:31] mfrawley opened #46 "Feature request - ISO8601 date transformer(s)"
Hey,
  I needed this for interop with another language (scala), there are possibly other betters ways to achieve this, but as every language implements ISO8601 (de-)serialization to/from JSON differently it would be nice to have a couple of the more popular string formats of the standard ready to help people whose goal is interop with other languages/libs. I did something like this but hardcoded t

[2021-03-16 05:32] knocte opened #47 "Documentation repo?"
Where is https://vsapronov.github.io/FSharp.Json/ hosted? I wanted to provide a PR to fix something in it but I cannot find where those docs are.

[2021-03-18 20:30] Evelios opened #48 "Specifying Default Values"
From the [JsonConfig Documentation](https://vsapronov.github.io/FSharp.Json/reference/fsharp-json-jsonfield.html) it specifies how default values in types should be used. I am trying to be able to get the record to be populated

[code]

I'm assuming this code is used inside the reflexive record value code. Pulling in the default value to the JsonField so that it is able to give it a default value

[2021-03-20 14:54] Evelios commented on #47
I'm assuming the documentation is hosted by github (it has the github.io domain). The documentation is on the branch [gh-pages](https://github.com/vsapronov/FSharp.Json/tree/gh-pages). You can see the documentation there

[2021-05-11 01:23] sanikolov opened #50 "Q: how can I handle the reserved F# keyword 'type' in json string { "type": "abc", "weight": "123" }"
When I attempt to create a record for the above json string the F# compiler rejects it with
`FS0010	Incomplete structured construct at or before this point in field declaration. Expected identifier or other token.`

Here is the record that I created for the above string
type TypeAndWeight = { type: string; weight: string }

Disclaimer: I spent 15+ minutes reading open and closed issues to ensure t

[2021-05-11 02:13] sanikolov commented on #50
never mind, found answer here https://github.com/vsapronov/FSharp.Json#customizing-json-fields-names

[2021-05-11 02:13] #50 closed

[2021-08-31 20:56] Reenuay commented on #32
Any changes here?

[2021-09-01 08:26] Reenuay opened #53 "Deserializing union cases without values throws exceptions"
For example:

type A = A1 | A2 of int

Serializing A1 case gives "A1". But deserialization of "A1" throws an exception. The A2 case, on the other hand, works perfectly in both directions.

[2021-09-04 12:54] shanoaice commented on #32
I also have a thought about marking each Enum so it can be like this:

[code]

[2021-09-05 07:38] bartelink commented on #32
Can borrow [scheme](https://eiriktsarpalis.wordpress.com/2018/10/30/a-contract-pattern-for-schemaless-datastores/) and some impl from https://github.com/eiriktsarpalis/TypeShape/blob/main/src/TypeShape/Applications/UnionContract.fs#L9

[2021-10-02 19:25] katatunix opened #54 "Support null for Map<string, obj>"
I'm trying to serialize/deserialize a value of type `Map<string, obj>`, using the `allowUntyped` config already.

Everything is fine except when some `obj` is `null`. For example, deserializing `{ "hello": null }` will throw `System.NullReferenceException`; the same for serializing `Map [ ("hello", null) ]`.

Could you please support this particular case?

[2021-10-20 13:48] shanoaice opened #56 "Support expanding the content of an object to the upper layer"
For example, I wanted to serialize the following records:
[code]
into such form:
[code]
It seemed like that this is impossible to achieve with `FSharp.Json` for now.
Is it possible to have a `[<Expand>]` attribute to achieve such task?

I got this idea because I wanted to expand the result of serializing a DU with union case key / value mode, like so:
[code]
into such form:
[code]

[2022-01-08 08:40] #11 closed

[2022-01-24 13:17] jkone27 opened #59 "Add benchmark performance table with other serializers"
Would be interesting useful to see a benchmark with info on the serialization perfomrance compared e.g. to newtonsoft

[2022-01-28 15:18] sanikolov opened #60 "Q: how do you decode dictionary keys that vary?"
Consider a web request for 1 or more of 3 keys that are known ahead of time - foo, bar, cow.
[code]
A typical record type definition won't work because we may or may not get the all the keys in the json reply.
I looked in the docs and the closest match were union (sum) types but are they able to solve this? Not seeing how.

[2022-02-18 12:09] warren-pieterse opened #61 "Q: Is there a reason why TimeSpan is not a Supported Type?"
Was wondering why TimeSpan is not in the Supported Types am I missing something?

[2022-07-11 19:12] bartelink commented on #61
https://github.com/vsapronov/FSharp.Json#datetime-as-epoch-time ?

[2022-10-24 07:49] petrkoutnycz commented on #61
This repo seems to be a bit abandoned :-(

[2022-10-24 20:57] dsyme opened #65 "Move to fsprojects?"
Hi @vsapronov, Would you like to move this to https://github.com/fsprojects/?

The policies are outlined on the home page.

Thanks!

[2022-10-24 20:58] dsyme commented on #61
@petrkoutnycz I've asked here whether @vsapronov would like to move to https://github.com/fsprojects.

There is also the option of forking there unless of course @vsapronov disapproves

[2022-10-24 20:59] dsyme commented on #61
@AntyaDev What do you think?

[2022-10-25 05:59] AntyaDev commented on #61
Hi @petrkoutnycz , @dsyme
I did my personal fork with TimeSpan support: https://github.com/PragmaticFlow/FSharp.Json.New
Also, I think it does make sense to move it to https://github.com/fsprojects

[2022-10-25 12:22] dsyme commented on #61
@AntyaDev Do you think you could move that, and then use something to replicate the issues across from here?  It seems to make sense?  Unless @vsapronov thinks we shouldn't?

I will discuss with @sergey-tihon to add policies to fsprojects with regard to this kind of fork.  Obviously we do it reluctantly and would want reconvergence if there's another development stream.

[2022-10-25 13:06] vsapronov commented on #61
I haven't seen any PRs for `TimeSpan` support. I would be glad to consider and merge it @AntyaDev.

[2022-10-25 13:42] vsapronov commented on #61
@AntyaDev I have checked your fork quickly. Is my understanding right that the required changes are mostly in files from FSharp.Data for `TimeSpan` support?

[2022-10-26 08:50] dsyme commented on #61
Hi all, @vsapronov is willing to transfer to fsprojects, could we have one or two volunteers for maintainership please?

[2022-10-26 18:19] AntyaDev commented on #61
Hi @vsapronov ,
Yes, you are right.
And I think the tests were updated.

[2022-10-28 15:40] dsyme commented on #61
@AntyaDev Could you be a co-maintainer in "fsprojects"? thanks

[2022-10-30 17:48] AntyaDev commented on #61
Hi @dsyme ,

I'm afraid I will not be able to maintain it.
I just physically don't have time on other OSS projects.

[2022-10-30 20:06] johnazariah commented on #61
I've never done any maintenance work in F#, but mostly because I don't know how!

I'm happy to stick my hand up and give it a try!

[2022-10-31 07:55] tnishimura commented on #61
I can do it as well, this project is my preferred way of json-ing things in F#. (I'm @carpenoctemdev on twitter)

[2022-10-31 09:11] dsyme commented on #61
Fab, let's continue here : https://github.com/fsprojects/.github/issues/43#issuecomment-1296801832

[2022-11-05 11:27] dsyme commented on #61
@vsapronov Per the above could you add @tnishimura and @johnazariah as co-maintainers please? I'll do it if you wish.

Also could you please add "fsprojects" as backup owner on the nuget package on nuget.org. Thanks.

[2022-11-09 10:38] mrtank opened #66 "Missing alternative"
Hi,

There is a pure F# alternative, which also handles F# types. Union types serializable with a lot of configurability.
https://github.com/Tarmil/FSharp.SystemTextJson

[2022-11-11 01:19] dsyme commented on #61
@tnishimura and @johnazariah - I have added you as maintainers to this repo. Please go ahead and do any of the necessary maintenance, pulls etc. Don't hold back.

@vsapronov Could you add `fsprojects` as co-owner on the nuget package please? https://www.nuget.org/packages/FSharp.Json, thanks!  If we don't have that we'll have to do a namespace/package rename which would be unfortunate.

Thanks all

[2022-11-11 03:32] vsapronov commented on #61
@dsyme, @tnishimura and @johnazariah  don't worry I will add fsprojects to nuget. Sorry it takes me long time. Multitasking here...

[2022-11-11 11:44] dsyme commented on #61
@vsapronov @tnishimura @johnazariah OK, I've added NUGETKEY in this repo to allow publishing FSharp.Json package (and nothing else) for the next year via actions from this repo.  Keys time out after 365 days, need to be regenerated

[2022-11-17 09:53] bartelink commented on #66
I think https://github.com/jet/FsCodec (which I maintain) should be placed alongside that (it similar in what it does, i.e. both are extensions around `Sysntex.Text.Json`, but provides less fewer rendering options for DUs and is hence much less code)